body {
  background: #4a4d4e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4a4d4e;
}
h1,
h2,
h3 {
  color: #4a4d4e;
}
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
nav .mainNav ul li {
  padding: 15px;
  color: #ccc;
}
a.navbar-brand {
  color: #eeeeee;
}
.navbar-inverse .navbar-brand {
  margin-top: 5px;
  color: #eeeeee;
}
.navbar-inverse,
.navbar-collapse {
  margin-top: 5px;
  border-color: #4a4d4e;
  background: #4a4d4e;
}
.jumpToCaseNumbe {
  padding: 1em;
  left: 15%;
  color: #ffffff;
  margin-top: -10px;
  margin-left: 5px;
}
.jumpToCaseNumbe input.topcoat-search-input--large {
  border-radius: 4px;
  background-image: none;
}
.jumpToCaseNumbe label {
  margin-top: 10px;
}
