<div class="container">
    <h1>COLORADO ANTI-VIOLENCE PROGRAM</h1>
    <h3>{{awesomeThings}}</h3>
    <!-- begin navigation  -->
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">INTAKE FORM</a>
        </div>
        <div class="mainNav">
            <ul class="nav navbar-collapse">
                <li class="pull-right">
                    <b>Total Intakes</b>
                    <span class="label label-info">{{ intakes.length }}</span>
                </li>
                <li class="pull-right">
                    <b>Live </b>
                    <span class="label label-warning">{{ (1) }}</span>
                </li>

            </ul>
        </div>
    </nav>
    <!-- end navigation  -->
    <!-- begin form -->
    <div id="intake-form" class="container">
        <div class="col-md-6">
            <form class="form-group">
                <p class="">
                    <label for="intakes.taker">Name</label>
                    <!-- bind this val to formData.name in angular -->
                    <input type="taker" class="input-lg" placeholder="Volunteer or staff" ng-model="Intakes.taker" id="taker" size="32" required>
                </p>
                <p class="">
                    <label for="intake.date">Today</label>
                    <input type="text" id="datepicker" class="input-lg" placeholder="date" ng-model="Intakes.date" size="1" required>
                </p>
                <br>
                <!-- createIntake() will create new intake data -->
                <button type="submit" class="btn btn-primary btn-lg pull-right" ng-click="createIntake()">SUBMIT</button>
            </form>
        </div>
    </div>
    <!-- end begin form -->
    <!-- begin debug -->
    <div class="container" ng-repeat="intake in Intakes">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-click="deleteIntake(intake._id)" value="">{{intake.taker}}
            </label>
        </div>
        <!-- debug view -->
        <div>
            Debug View:
            <pre>intake = {{intake | json}}</pre>
        </div>
        <hr>
    </div>
    <!-- end begin debug -->
</div>
