<div class="hero-unit">
    <h1>Hello, here is your list of intakes:</h1>
    <h2>Intake items <span class="label label-info">{{ intakes.length }}</span></h2>
    <p>You now have:</p>
    <div class="container" ng-repeat="intake in intakes">
        <label>
            <input type="checkbox" ng-click="deleteIntake(intake._id)">{{intake.name}}
        </label>
    </div>
    <h3>Create intake form</h3>
    <div id="intake-form" class="row">
    	<div class="col-sm-8 col-sm-offset-2 text-center">
    		<form>
    			<div class="form-group">
    				<!-- bind this val to
    				formData.name in angular -->
    				<input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">

    				<!-- createIntake() will create new intake data -->
    				<button type="submit" class="btn btn-primary btn-lg" ng-click="createIntake()">ADD</button>
    			</div>
    		</form>
    	</div>
    </div>
</div>
