<div class="container jumbotron">
    <h3>COLORADO ANTI-VIOLENCE PROGRAM</h3>
    <!-- begin navigation  -->
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">intake . coavp . org / form</a>
        </div>

        <div class="mainNav">
            <ul class="nav navbar-collapse nav-pills">

                <li class="pull-right">
                    <b>Total Intakes</b>
                    <span class="label label-info">{{ intakes.length }}</span>
                </li>
                <li class="pull-right">
                    <b>Users </b>
                    <span class="label label-warning">{{ (1) }}</span>
                </li>

            </ul>
        </div>
    </nav>
    <!-- end navigation  -->

    <!-- begin form -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <span class="">Case Number : 212</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <b for="checkbox">Callback needed ?</b>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Yes</button>
                                <button type="button" class="btn  btn-default">No</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <b>Summary notes: </b>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nulla ad officia pariatur aut quas expedita quo quidem alias velit. Aliquid quod expedita delectus in possimus illo voluptatibus incidunt nobis!
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="intake-form" class="row">

        <div class="col-md-6">
            <div class="panel panel-success">
                <!-- <legend>Caller</legend> -->
                <div class="input-group">
                    <span class="input-group-addon">Caller's</span>
                    <input type="text" class="form-control" placeholder="first">
                    <input type="text" class="form-control" placeholder="last">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Email</span>

                    <div class="btn-group">
                     <input type="text" class="form-control" placeholder="caller@" size="100%">
                        <button type="button" class="btn btn-default">gmail</button>
                        <button type="button" class="btn  btn-default">yahoo</button>
                        <button type="button" class="btn  btn-default">hotmail</button>
                        <button type="button" class="btn  btn-default">facebook</button>
                        <button type="button" class="btn  btn-default">facebook</button>
                    </div>
                </div>
                <div class="panel-footer container">dviramontes@gmail.com</div>
            </div>



<!--             <form class="form-group">
                <p class="col-lg-12">
                    <label for="taker">Name</label> -->
                    <!-- bind this val to for data.name in angular -->
   <!--                  <input type="text" id="taker" class="input-lg" placeholder="Volunteer or staff" ng-model="formData.taker" size="24" name="taker" required>
                </p>
                <p class="col-lg-12">
                    <label for="date">Date</label>
                    <input type="text" id="datepicker" class="input-lg" placeholder="date" ng-model="formData.date" size="14" value="Date" required>
                </p>
                <p class="container" class="">
                    <label for="select-by">By</label>
                    <select class="dropdown" name="select-by" id="select-by" ng-model="formData.type">
                        <option value="staff">staff</option>
                        <option value="volunteer">volunteer</option>
                        <option value="intern">intern</option>
                        <option value="media">media</option>
                    </select>
                </p> -->
                <!-- <p class="col-lg-12"> -->
                <!-- <label for="formData.date">Time:</label> -->
                <!-- <input type="text" id="datepicker" class="input-lg" placeholder="date" ng-model="intake.time" size="1" required> -->
                <!-- </p> -->
                <!-- createIntake() will create new intake data -->
                
<!--                 <button type="submit" class="btn btn-primary btn-lg pull-right" ng-click="createIntake()">SUBMIT</button>
            </form> -->
        </div>
    </div>
    <!-- end begin form -->

    <!-- begin debug -->
    <div class="col-md-6" ng-repeat="intake in intakes">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-click="deleteIntake( intake._id)" value="">{{ intake.taker}}
            </label>
        </div>
        <!-- debug view -->
        <div>
            Debug View:
            <pre>intake = {{ intake | json}}</pre>
        </div>
        <hr>
    </div>
    <!-- end begin debug -->

    <!-- data-binding with components -->
    <!--     <div class="container">
                <input type="text" ng-model="data.message">
        <div class="{{data.message}}">
            I will be wrapped inside a component, try typing label-warning label, or jumbotron
        </div>
    </div> -->
    <!-- end data binding -->

</div>
