<div class=" jumbotron" ng-init="fetchData()">

    <h3>COLORADO ANTI-VIOLENCE PROGRAM</h3>

    <div class="row">
        <!-- begin navigation  -->
        <nav class="navbar navbar-default navbar-inverse " role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">intake . coavp . org /  form</a>
            </div>

            <div class="mainNav">

                <ul class="nav navbar-collapse nav-pills">
                    <li>
                        <button class="topcoat-button--large" ng-click="fetchData()">
                            <span class="fa-stack fa-lg ">
                                <i class="fa fa-square fa-stack-2x "></i>
                                <i class="  fa fa-refresh fa-stack-1x fa-inverse"></i>
                            </span>
                        </button>
                    </li>
                    <li class="jumpToCaseNumber">
                        <label for="number">Jump to case #</label>
                        <input type="number" min="0" max="1000" step="1" ng-model="jumpValue" class="topcoat-search-input--large">
                        <button class="topcoat-button--large--cta" ng-click="jumpToCaseNumber(jumpValue)">Go</button>
                        <!-- <input type="number" min="0" max="1000" step="1" data-ng-change="jumpToCaseNumber(value)" ng-model="value" class="topcoat-search-input-large"> -->

                    </li>
                    <li class="pull-right">
                        <b>Total Intakes</b>
                        <span class="label label-info">{{ intakes.length }}</span>
                    </li>
                    <li class="pull-right">
                        <b>Users </b>
                        <span class="label label-warning">{{ (1) }}</span>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- end navigation  -->
    </div>

    <!-- begin form -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <span class="">Case Number : {{jumpValue}}</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <b for="checkbox">Callback needed ?</b>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" data-ng-click="callbackNeeded(true)">Yes</button>
                                <button type="button" class="btn  btn-default" data-ng-click="callbackNeeded(false)">No</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <b>Summary notes: </b>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nulla ad officia pariatur aut quas expedita quo quidem alias velit. Aliquid quod expedita delectus in possimus illo voluptatibus incidunt nobis!
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
          <div>
                  <div  text-angular ng-model="htmlVariable" class="ta-editor taTextElement" placeholder="Intake notes" ng-model="htmlVariable"></div>
                <br> 
                <!-- <button class="topcoat-button--large" disabled>Submit</button> -->
                <button class="topcoat-button--large" ng-click="updateIntake(jumpValue)">Update</button> 
                <button class="topcoat-button--large topcoat-button--large--cta" ng-click="createIntake()">Create</button>
                <br>
          </div>
        </div>
    </div>

    <div id="intake-form" class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="input-group">
                    <span class="input-group-addon">Caller's</span>
                    <input type="text" class="form-control" placeholder="first" data-ng-model="formData.caller.first">
                    <input type="text" class="form-control" placeholder="last" data-ng-model="formData.caller.last">
                </div>
            </div>
            <form class="input-group">
                <span class="input-group-addon">Email</span>
                <div class="btn-group">
                    <!-- email  field -->
                    <input type="email" class="form-control" placeholder="caller@" size="100%" data-ng-model="formData.email">
                    <button type="button" class="btn btn-default" data-ng-click="emailPlaceholder('gmail')">gmail</button>
                    <button type="button" class="btn  btn-default" data-ng-click="emailPlaceholder('yahoo')">yahoo</button>
                    <button type="button" class="btn  btn-default" data-ng-click="emailPlaceholder('hotmail')">hotmail</button>
                    <button type="button" class="btn  btn-default" data-ng-click="emailPlaceholder('facebook')">facebook</button>
                    <button type="button" class="btn  btn-default" data-ng-click="emailPlaceholder('msn')">msn</button>
                </div>
            </form>
            <div class="input-group">
                <span class="input-group-addon">Address</span>
                <input type="text" class="form-control" placeholder="123 Wash st" data-ng-model="formData.caller.address">
            </div>
            <!-- refactor these into its own directives later -->
            <!-- presented as -->
            <div class="input-group  panel-success">
                <span class="input-group-addon">Caller Presented As</span>
                <select ng-model="formData.callerPresentsAs" ng-options="type for type in callerTypes"></select>
                <div ng-switch on="callerPresentedAs" class="animate-switch-container">
                    <div class="animate-switch" ng-switch-when="Family">Family</div>
                    <div class="animate-switch" ng-switch-when="Friends">Friends</div>
                    <div class="animate-switch" ng-switch-default>
                        <label for="other">Other</label>
                        <input type="text" ng-model="callerPresentsAsOther">
                    </div>
                </div>
                <!-- <div class="panel-footer "> -->
                <!-- <tt>selection = {{ formData.caller.callerPresentsAs || callerPresentsAsOther }}</tt> -->
                <!-- </div> -->
            </div>
            <!-- assessed as -->
            <div class="input-group  panel-success">
                <span class="input-group-addon">Caller Assessed As</span>
                <select ng-model="formData.callerAssessedAs" ng-options="type for type in assessTypes"></select>
                <div ng-switch on="callerAssessedAs" class="animate-switch-container">
                    <div class="animate-switch" ng-switch-when="Family">Family</div>
                    <div class="animate-switch" ng-switch-when="Friends">Friends</div>
                    <div class="animate-switch" ng-switch-default>
                        <label for="other">Other</label>
                        <input type="text" ng-model="callerAssessedAsOther">
                    </div>
                </div>
                <!-- <div class="panel-footer "> -->
                <!-- <tt>selection = {{ formData.caller.callerAssessedAs || callerPresentsAsOther }}</tt> -->
                <!-- </div> -->
            </div>

            <div class="input-group  panel-success">
                <span class="input-group-addon">Violence Types</span>
                <label class="topcoat-checkbox" ng-repeat="type in violenceCategories">
                    <br>&nbsp{{type}} &nbsp &nbsp
                    <br>
                    <input type="checkbox">
                    <div class="topcoat-checkbox__checkmark"></div>
                </label>
            </div>
        </div>
    </div>

    <!-- end begin form -->
    <div class="row">
        <!-- begin debug -->
        <div class="col-md-6" ng-repeat="intake in intakes" ng-if="intake.caseNumber === formData.caseNumber ">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-click="deleteIntake( intake.caseNumber)">{{ intake.taker }}
                </label>
            </div>
            <!-- debug view -->
            <div>
                Debug View:
                <pre>intake = {{ intake | json}}</pre>
            </div>
            <hr>
        </div>
        <!-- end begin debug -->
    </div>




</div>
</div>
