<div class="jumbotron">
    <h1>COLORADO ANTI-VIOLENCE PROGRAM</h1>
    <br>
    <span class="">User login / sign-up</span>
    <div class="input-group">
        <label for="username" class="input-group-addon">
            @</label>
        <input type="text" class="form-control" placeholder="Username">
    </div>
    <div class="input-group">
        <span class="input-group-addon">**</span>
        <input type="text" class="form-control col-sm-12 col-xs-12" placeholder="Password">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">login</button>
            <button class="btn btn-default" type="button">Sign up</button>
        </span>
    </div>
</div>
